body {
  font-family: "Roboto", sans-serif;
  background-color: #e0e0e0; /* Light grey background */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh; /* Ensure full height */
}

.container {
  max-width: 600px; /* Increased max-width */
  width: 95%; /* Take up more screen width on smaller devices */
  margin: 20px;
  background-color: #fff;
  border-radius: 12px; /* Rounded corners */
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Softer shadow */
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #3f51b5; /* Indigo color */
  font-size: 28px; /* Larger font size */
}

p {
  color: #555; /* Darker grey for better readability */
  line-height: 1.6;
  font-size: 16px;
}

/* Style for topic cards */
.topic-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  margin: 10px 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: left;
  transition: transform 0.2s; /* Add transition for hover effect */
}

.topic-card:hover {
  transform: translateY(-3px); /* Slight lift on hover */
}

.topic-card h2 {
  color: #3f51b5;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 8px;
}

.topic-card p {
  font-size: 14px;
  color: #777;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #e3f2fd;
  margin: 8px 0;
  padding: 10px;
  border-radius: 8px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #3f51b5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Add a subtle shadow to buttons */
}

button:hover {
  background-color: #303f9f;
}

.separator {
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
}
